<form (ngSubmit)="onSubmit()">
    <label>Name:</label>
    <input type="text" [(ngModel)]="accommodation.name" [ngModelOptions]="{standalone: true}">
<br>
    <label>Description:</label>
    <textarea [(ngModel)]="accommodation.description" [ngModelOptions]="{standalone: true}"></textarea>
    <br>

    <label>Location:</label>
    <input type="text" [(ngModel)]="accommodation.location" [ngModelOptions]="{standalone: true}">
    <br>

    <label>Images:</label>
    <input type="file" [(ngModel)]="accommodation.images" (change)="convertToString($event)" [ngModelOptions]="{standalone: true}">
    <br>

    <label>Beds:</label>
    <input type="number" [(ngModel)]="accommodation.beds" [ngModelOptions]="{standalone: true}">
  
    <br>
    <label>Min guests:</label>
    <input type="number" [(ngModel)]="minGuests" min=1 max="{{accommodation.beds}}">
    <label>Max guests:</label>
    <input type="number" [(ngModel)]="maxGuests" min="{{minGuests}}" max="{{accommodation.beds}}">
    <br>
  
  
    <button type="submit">Create Accommodation</button>
  </form>